extends layout

block content
  p
 
  form(method='POST' action='/addRequest/' id="form")
    input(type="hidden" value="uid" name=uid)
    div.grid-container
      div.grid-x.align-center
        div.cell.grid-y(style='width: 60%')
          div.cell
          div.cell.grid-x.grid-padding-x
            div.small-4.large-4
              label(for='') To Buy
              input(type="radio" name="jobType" value="1" checked="checked" )
            div.small-4.large-4
              label(for='') To Deliver
              input(type="radio" name="jobType" value="0")
          div.cell.grid-y(style='width: 100%')
            div.columns.small-4.large-4
              input(type='text' id='what' placeholder='what' name='what' data-validation-length="min5"   data-validation="length alphanumeric required" data-validation-error-msg="The input has to contain at least 5 characters")
            div.columns.small-4.large-4
              input(type='text' id='whendate' placeholder='when' name='whendate' data-validation="date required"  data-validation-format="mm-dd-yyyy" data-validation-error-msg="The input date cannot be empty")
            div.columns.small-4.large-4
              input(type='text' id='pac-fromwhere' placeholder='fromwhere' name='fromwhere' data-validation="required" data-validation-error-msg="From where cannot be empty")
            div.columns.small-4.large-4
              input(type='text' id='pac-towhere' placeholder='towhere' name='towhere' data-validation="required" data-validation-error-msg="To where cannot be empty")
            div.input-group.columns.small-4.large-4
              span.input-group-label $
              input.input-group-field(type='number' id='cost' placeholder='cost' name='cost' data-validation="number required" data-validation-error-msg="Cannot be empty")
            div.columns.small-4.large-4
              textarea(id='comment' placeholder='comment' name='comment (Optional)' style='margin-bottom: 1em;' data-validation-length="max256")
            button.button(type='submit') Submit

block content
  p
 
  form(method='POST' action='/addRequest/' id="form")
    input(type="hidden" value="uid" name=uid)
    div.grid-container
      div.grid-x.align-center
        div.cell.grid-y(style='width: 60%')
          div.cell
              h4 Request
          div.cell.grid-x.grid-padding-x
            div.small-4.large-4
              label(for='') To Buy
              input(type="radio" name="jobType" value="1" checked="checked" )
            div.small-4.large-4
              label(for='') To Deliver
              input(type="radio" name="jobType" value="0")
          div.cell.grid-y(style='width: 100%')
            div.columns.small-4.large-4
              input(type='text' id='what' placeholder='what' name='what' data-validation-length="min5"   data-validation="length alphanumeric required" data-validation-error-msg="The input has to contain at least 5 characters")
            div.columns.small-4.large-4
              input(type='text' id='whendate' placeholder='when' name='whendate' data-validation="date required"  data-validation-format="mm-dd-yyyy" data-validation-error-msg="The input date cannot be empty")
            div.columns.small-4.large-4
              input(type='text' id='pac-fromwhere' placeholder='fromwhere' name='fromwhere' data-validation="required" data-validation-error-msg="From where cannot be empty")
            div.columns.small-4.large-4
              input(type='text' id='pac-towhere' placeholder='towhere' name='towhere' data-validation="required" data-validation-error-msg="To where cannot be empty")
            div.input-group.columns.small-4.large-4
              span.input-group-label $
              input.input-group-field(type='number' id='cost' placeholder='cost' name='cost' data-validation="number required" data-validation-error-msg="Cannot be empty")
            div.columns.small-4.large-4
              textarea(id='comment' placeholder='comment' name='comment (Optional)' style='margin-bottom: 1em;' data-validation-length="max256")
            button.button(type='submit') Submit